.banner {
    width: 100%;
    height: max(27vh, 300px);
    background-image: url(/assets/background/1.jpg);
    background-size: cover; 
    background-position: 80%;
    background-blend-mode: multiply;
    background-color: #25520d;
    @media screen and (max-width: 1024px) {
        height: 23vh;
    }
}
.banner_container div {
    display: flex;
}
.banner_title_en span {
    text-align: left;
}
.banner_subtitle_en span {
    text-align: left;
}
